<div class="col-sm-9 sidenav no-padding">
    <div class="tab-content" id="screen-chat">
        <div class="right tab-pane active" data-chat="" id="to_">
            <div class="top">
                    <span>To: <span class="name conversation-name"></span></span>
                    <span class="chat-menu-right">
                        <a href="#attachmentsModal_" class="show-attachments" data-toggle="modal">
                            Tệp đính kèm
                            <i class="fa fa-paperclip"></i>
                        </a>
                    </span>
                    <span class="chat-menu-right">
                        <a href="javascript:void(0)">&nbsp;</a>
                    </span>
                    <span class="chat-menu-right">
                        <a href="#imagesModal_" class="show-images" data-toggle="modal">
                            Hình ảnh
                            <i class="fa fa-photo"></i>
                        </a>
                    </span>
            </div>
            <div class="content-chat">
                    <div class="chat" data-chat="">
                        
                    </div>    
            </div>               
            <div class="write" data-chat="">
                    <input type="text" class="write-chat" id="write-chat-" data-chat="">
                    <div class="icons">
                        <a href="#" class="icon-chat" data-chat=""><i class="fa fa-smile-o"></i></a>
                        <label for="image-chat-">
                            <input type="file" id="image-chat-" name="my-image-chat" class="image-chat" data-chat="">
                            <i class="fa fa-photo"></i>
                        </label>
                        <label for="attachment-chat-">
                            <input type="file" id="attachment-chat-" name="my-attachment-chat" class="attachment-chat" data-chat="">
                            <i class="fa fa-paperclip"></i>
                        </label>
                    </div>
            </div>
        </div>  
    </div>
</div>